body {
  display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;
  margin: 0 auto;
}

object{
  margin: 0 auto;
}

.logo{
  display:flex; flex-direction:column; justify-content:center;
  margin: 0 auto;
}
